* {
	box-sizing: border-box;
	margin :0;
	padding: 0;
}

/* Structure */

body {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: hsl(30, 38%, 92%);
	font-family: 'Montserrat', sans-serif;
}

.container {
	width: 90%;
	height: 90%;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background-color: hsl(0, 0%, 100%);
}

.image {
	width: 100%;
	height: 40%;
	background-image: url("info_file/images/image-product-mobile.jpg");
	background-size: cover;
}

.content {
	width: 100%;
	padding: 40px;
	height: 60%;
}

@media (min-width: 1440px) {
	.container {
		flex-direction: row;
		width: 70%;
		height: 50%;
	}
	.image {
		background-image: url("info_file/images/image-product-desktop.jpg");
		width: 50%;
		height: 100%;
	}
	.content {
		width: 50%;
		height: 100%;
	}
}
/* Content */
.content .parg {
	font-size: 2.5em;
	text-transform: uppercase;
	letter-spacing: 10px;
	color: hsl(228, 12%, 48%);
	padding-bottom: 20px;
}

.content .head {
	font-family: 'Fraunces', serif;
	font-size: 3.5em;
	font-weight: bold;
	padding-bottom: 25px;
}

.content .text {
	color: hsl(228, 12%, 48%);
	font-size: 1.6em;
	line-height: 1.7;
	padding-bottom: 30px;
}

.content .price {
	display: flex;
	padding: 10px 0 25px 0;
}

.content .price .prix {
	font-family: 'Fraunces', serif;
	font-size: 4.5em;
	color: hsl(158, 36%, 37%);
	width: 50%;
}

.content .price .dis {
	width: 50%;
	color: hsl(228, 12%, 48%);
	font-size: 1.7em;
	padding-top: 20px;
	text-decoration: line-through;
}

.content button {
	width: 90%;
	margin: 35px;
	border-radius: 15px;
	background-color: hsl(158, 36%, 37%);
	color: hsl(0, 0%, 100%);
	height: 6em;
	border: none;
	position: relative;
	transition: 0.5s ease;
}

.content button:hover {
	background-color: hsl(212, 21%, 14%);
}

.content button img {
	height: 35px;
	position: absolute;
	left: 30%;
	top: 30%;
}

.content button p {
	display: inline;
	font-size: 1.7em;
	position: absolute;
	left: 42%;
	top: 34%;
}

@media (min-width: 1440px) {
	.content {
		padding: 50px;
	}
	.content .parg {
		font-size: 1.5em;
	}
	.content .head {
		font-size: 3em;
	}
	.content .text {
		font-size: 1.5em;
	}
	.content .price .prix {
		font-size: 3em;
	}
	.content .price .dis {
		font-size: 1.2em;
	}
	.content button {
		height: 4.5em;
	}
	.content button img {
		height: 30px;
	}
	.content button p {
		font-size: 1.3em;
	}
}